@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Campaign Started Successfully!</h1>
        Campaign ID : @Model <br /><br />
@*        <img src="~/images/lawn_leaf.jpg" width="65%" />*@
    </div>
</div> 
